*{
  display: flex;
  justify-content: center;
}
ion-title{
  display: flex;
  justify-content: center;
}
.cont{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.botp{
  display: flex;
  width: 300PX;
  height: 100PX;

}